<div class="login-body">
    <div class="login-panel"></div>

    <div class="login-content">
        <img src="https://mscvp-dev.miracleedi.com/assets/layout/images/mercer-login.png" alt="babylon-layout"/>

        <h1><span>Sign in</span> to Mercer API Tracking</h1>
        <p>Welcome, please use the form to sign-in.</p>

        <div class="login-input-wrapper">
            <input type="text" autocomplete="off" placeholder="Username" pInputText>
            <i class="pi pi-user"></i>
        </div>

        <div class="login-input-wrapper">
            <input type="password" autocomplete="off" placeholder="Password" pInputText>
            <i class="pi pi-lock"></i>
        </div>

        <button (click)="signIn()" pButton type="button" label="Sign In"></button>
    </div>
</div>
